

<div class="card text-center text-white bg-dark mb-3 mx-auto mt-5" style="width: 400px;">
    <div class="card-header "><%= @user.find(@potin.user_id).full_name %></div>
      <div class="card-body">
    <h5 class="card-title"><%= @potin.title %></h5>
    <p><i><%= @potin.content %></i></p>
    <a href="/user/display/<%= @user.find(@potin.user_id).id%>" class="btn btn-light">Voir l'auteur</a>
  </div>
</div>


