  <h1 class="pt_5">Commente ce Gossip !</h1>
  <%= form_for [@author, @gossip, @comment ] do |f| %>
    <div class="form-group">
      <label>Auteur :</label>
        <%= f.text_field :author, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Commentaire :</label>
        <%= f.text_area :content, class: "form-control" %>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-light text-dark">Poster</button>
    </div>
  <% end %>

