<div class="container">
  <div class="row">
    <div class="mx-auto">
    <h1>Contacte nous !</h1>
    <p>Tu peux nous contacter en envoyant un mail à</p>
      <div class="row justify-content-md-center">
        <div class="col-sm center">
          <p>Moi à : mlesegret@gmail.com</p>
        </div>
        <div class="col-sm center">
          <p>Moi à : mlesegret@gmail.com</p>
        </div>
        <div class="col-sm center">
          <p>Et moi à : mlesegret@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>