<div class="container">
  <div class="row">
    <div class="mx-auto">
    <h1>Voici notre Team !</h1>
    <p>Elle est coolos hein, elle est composée de :</p>
      <div class="row justify-content-md-center">
        <div class="col-sm center">
          <p>Moi</p>
        </div>
        <div class="col-sm center">
          <p>Moi</p>
        </div>
        <div class="col-sm center">
          <p>Et moi</p>
        </div>
      </div>
    </div>
  </div>
</div>